.clients{
    z-index: 1;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradient);
}

.clients .title {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.clients .title h4{
    color: var(--silver);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.clients .title h4 img{
    width: 20px;
    height: auto;
}

.clients  .title h2{
    color: var(--white);
    text-align: center;
    font-weight: 600;
}

.clients a{
    z-index: 2;
    margin-top: 1.5rem;
}

@media (max-width: 768px) {

    .clients .title{
        padding: 0 1rem;
    }

    .clients .title h2 br{
        display: none;
    }

    .clients .title h2{
        max-width: 400px;
        font-size: clamp(1.5rem, 1.3041rem + 0.8247vw, 1.7rem);
    }

    .clients .title h4{
        font-size: 1rem;
        text-align: center;
    }

    .clients .title h4 img{
        width: 15px;
        height: auto;
    }
}