.how-we-work-wrapper {
  z-index: 1;
  height: 450vh; 
  background-color: var(--white);
  padding: 5rem 3rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: visible;
}

.how-we-work-header {
  position: sticky;
  top: 100px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.how-we-work-header .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.how-we-work-header .title h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.how-we-work-header .title h4 img {
  width: 20px;
  height: auto;
}

.cards-main-container {
  position: relative;
  
}

.card-container {
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.card-content {
  width: 100%;
  max-width: 1250px;
  height: 500px;
  background: var(--gradient);
  border-radius: 30px;
  border: 1px solid var(--silver);
  position: relative;
  overflow: hidden;
  box-shadow: 0 -15px 20px rgba(0,0,0,0.1);
  display: flex;
  padding: 40px;
  align-items: center;
}

.card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-number {
  font-family: var(--text);
  font-size: clamp(3.5rem, 2.5rem + 2.0833vw, 5rem);
  color: var(--lima);
  font-weight: 500;
}

.card-content h2 {
  color: var(--white);
  font-family: var(--title);
  font-size: clamp(1.7rem, 1.1667rem + 1.1111vw, 2.5rem);
  font-weight: 600;
  margin: 0;
}

.card-content p {
  font-family: var(--text);
  font-size: clamp(1.3rem, 1.0333rem + 0.5556vw, 1.7rem);
  color: var(--silver);
  line-height: 1.6;
}

@media(max-width: 768px) {
  
  .how-we-work-wrapper {
    padding: 3rem 1rem;  
  }

  .card-number { 
    font-size: clamp(2.5rem, 1.6667rem + 2.7778vw, 3rem); 
  }

  .card-content h2 { 
    font-size: 1.5rem; 
  }

  .card-content p { 
    font-size: clamp(1rem, 0.6667rem + 1.1111vw, 1.2rem); 
  }
}

@media(max-width: 580px){

  .how-we-work-header {
    position: sticky;
    top: 80px;
    height: 200px;
    display: flex;
    align-items: center;
  }
}

@media(max-width: 480px) {
  
  .how-we-work-header { 
    padding: 0 0.5rem; 
  }

  .how-we-work-wrapper { 
    padding: 3rem 0.5rem; 
  }

  .card-content { 
    padding: 1.5rem; 
  }
}