.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.navbar_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.navbar.scrolled {
    background-color: rgba(250, 250, 250, 0.5) !important;
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    backdrop-filter: blur(35px) saturate(180%);
    height: 80px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.theme-light .navbar .logo, 
.theme-dark .navbar.scrolled .logo {
    color: var(--blue) !important;
    font-family: var(--logo);
    font-size: clamp(1.8rem, 1.5532rem + 1.039vw, 2.8rem);
    text-decoration: none;
}

.theme-dark .navbar .logo {
    color: var(--white);
    font-family: var(--logo);
    font-size: clamp(1.8rem, 1.5532rem + 1.039vw, 2.8rem);
    text-decoration: none;
}

.navbar_btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-cta-btn {
    width: fit-content;
    display: flex;
    padding: 0.7rem 1.2rem;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border-radius: 15px;
    border: 2px solid var(--black);
    font-family: var(--text);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    transition: all 0.1s ease-in-out;
}

.navbar.scrolled .navbar-cta-btn{
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.navbar-cta-btn img{
    display: none;
    width: 11px;
    height: auto;
}

.navbar-cta-btn:hover{
    background: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    font-weight: 600;
}

.navbar-cta-btn:hover img{
    display: flex;
}

.theme-dark .navbar_btn-container .navbar-cta-btn {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.theme-dark .navbar.scrolled .navbar_btn-container .navbar-cta-btn{
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--gradient);
    z-index: 10000;
    padding: 1rem 3rem;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    display: flex;
    flex-direction: column;
}

.navbar-links.open {
    transform: translateX(0);
}

.navbar_links-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-rsp-container {
    align-self: flex-end;
    margin-bottom: 50px;
}

.navbar_links-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 50px;
}

.go-to_components {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.go-to{
    width: fit-content;
    font-family: var(--title);
    font-size: 3.2rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s;
}

.go-to:hover {
    color: var(--lima);
    padding-left: 15px;
}

.menu-display_info {
    border-left: 1px solid rgba(255,255,255,0.1);
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);
}

.navbar_logo_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.navbar_logo_menu img {
    width: 260px;
    height: auto;
    margin-bottom: 10px;
}

.navbar_logo_menu p{
    font-family: var(--title);
    font-size: 1.8rem;
    font-weight: 500;
}

.navbar_contact_menu h5 {
    color: var(--silver);
    font-family: var(--text);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.navbar_contact_menu p{
    font-family: var(--text);
    font-size: 1.3rem;
}

.navbar_socials_menu {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.navbar_socials_menu img {
    width: 49px;
    height: 49px;
    transition: 0.3s;
}

.navbar_socials_menu img:hover {
    transform: translateY(-5px);
}

.cta-btn_black_menu {
    border: 2px solid var(--lima);
    color: var(--lima);
    padding: 12px 25px;
    text-decoration: none;
    width: fit-content;
    border-radius: 30px;
    font-weight: 600;
}

.menu-display_info .contact-item {
    margin-bottom: 1rem;
}

.menu-display_info .contact-item br{
    display: none;
}

/*responsive*/

@media (max-width: 1440px) {
    .navbar_container {
        padding: 0 2rem;
    }

    .navbar-links {
        padding: 1rem 2rem;
    }

}


@media (max-width: 1000px) {

    .navbar_container {
        padding: 0 1rem;
    }

    .navbar-links {
        padding: 1rem;
    }

    .go-to_components{
        margin-left: 1rem;
    }

    .go-to{
        font-size: 2.5rem;
    }

    .menu-display_info .contact-item br{
        display: flex;
    }

    .navbar_logo_menu img {
        width: 220px;
        height: auto;
        margin-bottom: 5px;
    }

    .navbar_logo_menu p{
        font-size: 1.6rem;
    }

    .navbar_contact_menu h5 {
        font-size: 1.7rem;
    }

    .navbar_contact_menu p{
        font-size: 1.1rem;
    }

    .navbar_socials_menu img {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 768px) {

    .menu-rsp-container {
        margin-bottom: 0;
    }

    .navbar_links-content {
        gap: 0;
        margin-top: 1rem;
    }


    .navbar_links-content {
        grid-template-columns: 1fr;
        gap: 3rem;
        overflow-y: fit-content;
    }
    
    .go-to_components{
        gap: 0.7rem;
        margin-left: 0;
    }

    .go-to{
        font-size: 1.8rem;
    }

    .go-to:hover{
        color: var(--white);
        padding-left: 0;
    }

    .menu-display_info {
        border-left: none;
        padding-left: 0;
    }

    .navbar_logo_menu img {
        width: 200px;
        height: auto;
        margin-bottom: 5px;
    }

    .navbar_contact_menu h5 {
        font-size: 1.5rem;
    }
    

    .navbar-cta-btn {
        padding: 0.4rem 1.1rem;
        border-radius: 7px;
        font-size: 1rem;
    }

    .navbar-cta-btn:hover {
        background: transparent;
        color: var(--black);
        font-weight: 500;
    }

    .navbar-cta-btn:hover img {
        display: none;
    }

    .navbar_socials_menu {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 580px){
    
    .navbar-cta-btn {
        display: none;
    }
}