nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.7rem;
    background: transparent; /* barra transparente */
}

nav.scrolled {
    background-color: rgb(250, 250, 250, 0.5);
    backdrop-filter: blur(35px); /* aparece el bg haciendo scroll */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav .logo-container{
    height: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .logo{
    color: var(--blue);
    text-decoration: none;
    font-family: var(--logo);
    font-size: 3rem;
    line-height: 20px;
    margin-bottom: 1rem;
}

.menu-rsp{
    display: none;
}

nav .nav_btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.links{
    display: none;
}

.links.open{
    isolation: isolate;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gradient);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 720px;
    height: 500px;
    border-radius: 25px;
    border: 1px solid var(--silver);
    padding: 1rem 2.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.links.open .links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}


.sections .go-to{
    cursor: pointer;
    text-decoration: none;
    font-family: var(--text);
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--white);
    transition: all 0.3s ease;
}

.sections .go-to:hover{
    color: var(--lima);
}

.links aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.links .logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem;
}

.links .logo img{
    width: 180px;
    height: auto;
}

.links .logo a{
    width: 180px;
    height: auto;
}

.links .logo p{
    font-family: var(--text);
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
}


.links .socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.links .socials a img{
    width: 40px;
    height: auto;
}

.links .contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.links .contact fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.1rem;
    border: none;
}

.links .contact fieldset h5{
    font-family: var(--text);
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--grey);
}

.links .contact fieldset p{
    font-family: var(--text);
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white);
}

nav.scrolled .cta-btn_white {
    background-color: var(--black);
    color: white;
    border-color: var(--black);
    padding: 0.6rem 1.2rem;
}

@media(max-width: 1000px){
    
    nav{
        padding: 0 2.7rem;
    }
}

@media(max-width: 768px){

    nav{
        padding: 0 1rem;
    }

    nav .logo-container .logo{
       font-size: 2.5rem;
    }

    .links.open{
        width: fit-content;
        max-height: fit-content;
        padding: 2rem;
        border-radius: 15px;
        gap: 1rem;
    }

    .sections .go-to{
        font-size: 1.5rem;
    }

    .links .logo img{
        width: 150px;
        height: auto;
    }

    .links .logo p{
        font-size: 0.9rem;
    }

    .links .socials a img{
        width: 35px;
        height: auto;
    }

    .links .contact fieldset h5{
        font-size: 1.1rem;
    }

    .links .contact fieldset p{
        font-size: 1rem;
    }
}

@media(max-width: 580px){
    
    nav .logo-container .logo{
       font-size: 2rem;
    }


    nav .nav_btn-container .cta-btn_white{
        display: none;
    }

    .sections .go-to{
        font-size: 1.3rem;
    }

    .links.open{
        width: 100%;
        height: 100%;
        min-height: 100dvh;
        padding: 0 1rem;
        padding-top: 0.5rem;
        border-radius: 0;
        gap: 0.5rem;
        border: none;
    }

    .links.open .links-container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    .links.open aside{
        gap: 1rem;
    }

    .menu-rsp{
        display: flex;
        align-self: flex-end;
        padding-top: 0.5rem;
    }

    .sections .go-to:hover{
        color: var(--white);
    }
}