.platforms {
    max-width: 100%;
    height: fit-content;
    margin: auto;
    overflow: hidden;
    background: transparent;
}

.platforms .platforms-content {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(200px * 8);
}

.platforms .platforms-content .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
}

.platforms .platforms-content .item img {
    width: 100%;
    height: fit-content;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 4));
        transform: translateX(calc(-200px * 4));
    }
}
  