.contact-us_component{
   min-height: 100svh;
   width: 100%;
   display: flex;
   flex-direction: column;
   background: var(--gradient);
   z-index: 1;
}

.contact-us_component .contact-container{
    min-height: 100svh;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
}

.contact-us_component .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.contact-us_component .title h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--silver);
}

.contact-us_component .title h4 img{
    width: 20px;
    height: auto;
}

.contact-us_component .title h2{
    color: var(--white);
}
 .contact-us_component .title h2 br{
        display: none;
    }

.contact-us_component form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.contact-us_component form section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.contact-us_component form input{
    width: 1000px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background: rgb(107, 107, 110, 0.9);
    padding: 1rem 2rem;
    font-family: var(--text);
    font-size: 1.2rem;
    color: var(--white);
}

.contact-us_component form input::placeholder{
    color: var(--white);
}

/*elimina interfaz predeterminada para el input number donde se ingresa el número de teléfono*/
/* Para Chrome, Safari, Edge (WebKit) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-us_component form p{
    max-width: 1000px;
    text-align: flex-start;
    font-family: var(--text);
    font-size: 1rem;
    color: var(--silver);
}

.contact-us_component form p a{
    text-decoration: none;
    font-weight: 500;
    color: var(--silver);
    transition: all 0.3s ease-out;
}

.contact-us_component form p a:hover{
    color: var(--lima);
}

.contact-us_component form button{
    cursor: pointer;
}

.contact-us_component article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.contact-us_component article h5{
    max-width: 800px;
    font-family: var(--text);
    font-size: clamp(1.2rem, 1.0667rem + 0.2778vw, 1.4rem);
    color: var(--white);
    font-weight: 400;
}

/*responsive*/

@media(max-width: 1440px){

    .contact-us_component form input, .contact-us_component form p{
        max-width: 800px;
    } 
}

@media(max-width: 1000px){

    .contact-us_component .contact-container{
        padding: 5rem 2rem;
    }

    .contact-us_component form input, .contact-us_component form p, .contact-us_component article h5{
        max-width: 700px;
    }
}

@media(max-width: 768px){

    .contact-us_component .contact-container{
        padding: 5rem 1rem;
    }

    .contact-us_component form input{
        max-width: 100%;
        width: 90vw;
        font-size: clamp(1rem, 0.8041rem + 0.8247vw, 1.2rem);
    }

    .contact-us_component form p{
        max-width: 100%;
        font-size: 0.9rem;
    }

    .contact-us_component article h5{
        max-width: 100%;
        font-size: clamp(1rem, 0.8041rem + 0.8247vw, 1.2rem);
    }    

}

@media(max-width: 580px){

    .contact-us_component .title h2 br{
        display: flex;
    }

    .contact-us_component form p{
        font-size: 0.8rem;
    }
}

@media(max-width: 380px){

    .contact-us_component form input{
        max-width: 300px;
        width: 100%;
        padding: 1rem;
        height: 60px;
    }
}


