.ads-content{
  z-index: 1;
  background: var(--white);
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0;
}

.ads-content main{
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  justify-content: space-between;
  position: relative;
}

.ads-content section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}

.ads-content section .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  min-width: 350px; 
  position: relative;
}

#title {
  position: -webkit-sticky;
  position: sticky;
  top: 100px; 
  margin: 0;
  z-index: 10;
  align-self: flex-start; 
}

.ads-content .img-grid{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.ads-content .box img, .ads-content .box video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.ads-content .img-grid article{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.ads-content .box{
  max-width: 808px;
  width: 100%;
  height: 300px;
  background: var(--grey);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.ads-content .box.large{
  width: 500px;
  height: 100%;
}

.ads-content .box.small{
  width: 300px;
  height: 100%;
}

.ads-content .second-row{
  width: 100%;
  height: 300px;
}

.ads-content .second-row .box{
    width: 100%;
    height: 300px;
}

.ads-content .text-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ads-content article .text{
  font-size: clamp(1.3rem, 1.1667rem + 0.2778vw, 1.5rem);
  max-width: 800px;
}

.ads-content article .text span{
  font-weight: 500;
}

.service-name{
  min-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--black);
}

.service-name h3{
  color: var(--black);
  font-family: var(--text);
  font-size: clamp(1.1rem, 0.8333rem + 0.5556vw, 1.5rem);
  font-weight: 500;
  padding: 1rem 0;
}

.content .text{
  max-width: 800px;
  margin-bottom: 1rem;
}

@media(max-width: 1300px){

  .ads-content main{
    padding: 3rem 2rem;
  }

  .ads-content .box.large{
    width: 350px;
    height: 100%;
  }

  .ads-content .box.small{
    width: 250px;
    height: 100%;
  }

  .ads-content .second-row{
    width: 100%;
    height: 300px;
  }

  .ads-content .second-row .box{
      max-width: 608px;
      width: 100%;
      height: 300px;
  }

  .service-name{
    min-width: 600px;
  }

  .ads-content article .text, .content .text{
    max-width: 600px;
  }
}

@media(max-width: 1000px){

  .ads-content{
        padding: 3rem 0;
    }

  .ads-content main{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
  }

  .ads-content .img-grid{
    width: 100%;
    max-width: 100%;
  }

  .ads-content .second-row .box{
    max-width: 100%;
  }

  .ads-content .box.large{
    width: 100%;
    height: 100%;
  }

  .ads-content .box.small{
    width: 350px;
    height: 100%;
  }

  .service-name{
    min-width: 90vw;
  }

  .ads-content article .text {
    max-width: 100%;
  }

  .content .text{
    max-width: 90vw;
  }

  .ads-content section.title{
    min-width: 0;
  }

  #title{
    top: 0;
    position: relative;
  }
}

@media(max-width: 768px){
  
  .ads-content main{
    width: 100%;
    padding: 3rem 1rem;
  }

  .ads-content article .text{
    font-size: 1.2rem;
  }

}

@media(max-width: 480px){

  .ads-content .img-grid{
    width: 100%;
    height: fit-content;
  }

  .ads-content .img-grid article{
    flex-direction: column;
    height: 100%;
  }

  .ads-content .second-row{
    height: 100%;
  }

  .ads-content .box.tape{
    width: 100%;
    height: 300px;
  }

  .ads-content .box.large, .ads-content .box.small{
    display: none;
  }

  .service-name{
    min-width: 80vw;
  }

  .ads-content article .text{
    font-size: 1.1rem;
  }

  .content .text{
    max-width: 80vw;
  }

}